ANDROID_PACKAGE_NAME=com.demopokedex
FIREBASE_APP_ID=YOUR_FIREBASE_APP_ID
FIREBASE_TESTER_GROUPS=qa-usability-testers
FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"YOUR_PROJECT_ID"}
ANDROID_KEYSTORE_BASE64=YOUR_ANDROID_KEYSTORE_BASE64
ANDROID_KEYSTORE_PASSWORD=YOUR_ANDROID_KEYSTORE_PASSWORD
ANDROID_KEY_ALIAS=YOUR_ANDROID_KEY_ALIAS
ANDROID_KEY_PASSWORD=YOUR_ANDROID_KEY_PASSWORD
